{{>header}}
<div class="container-fluid">
  <div class="pb-4 d-flex justify-content-between">
    <h4>Gestionar cursos</h4>
    <a href="/create-course" class="btn btn-dark" role="button">Crear curso</a>
  </div>
  {{#if success}}
  <div class="alert alert-success" role="alert">
    {{{success}}}
  </div>
  {{/if}}
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Valor</th>
        <th scope="col">Modalidad</th>
        <th scope="col">Intensidad Horaria</th>
        <th scope="col">Estado</th>
        <th scope="col">Profesor</th>
        <th colspan="3" scope="col">Acciones</th>
      </tr>
    </thead>
    {{#each courses}}
    <tbody>
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{cost}}</td>
        <td>{{modality}}</td>
        <td>{{workload}}</td>
        <td>{{state}}</td>
        <td>{{teacher}}</td>
        <td>
          <form action="/update-course-status" method="POST">
            <input name="courseId" type="hidden" value="{{id}}">
            <input type="submit" value="Actualizar estado" class="btn btn-link">
          </form>
        </td>
        </td>
        <td><a class="btn btn-link btn-sm" href="/see-registered/{{this.id}}" role="button">Ver inscritos</a></td>
        <td><a class="btn btn-link btn-sm" href="/see-teachers/{{id}}">Asignar profesor</a></td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>
{{>footer}}