{{>header}}
<div class="container-fluid">
  <div class="pb-4 d-flex justify-content-start">
    <h4>Inscritos al curso {{course.name}}</h4>
  </div>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Identificación</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo electrónico</th>
        <th scope="col">Telefono</th>
        {{#unless (isSelectedRole "docente" req.session.userRole)}}
        <th scope="col">Acciones</th>
        {{/unless}}
      </tr>
    </thead>
    {{#each people}}
    <tbody>
      <tr>
        <td>{{identity}}</td>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{phone}}</td>
        {{#unless (isSelectedRole "docente" @root.req.session.userRole)}}
        <td>
          <form action="/remove-from-course" method="POST">
            <input name="courseId" type="hidden" value="{{@root.course.id}}">
            <input name="userId" type="hidden" value="{{identity}}">
            <input type="submit" value="Eliminar del curso" class="btn btn-link">
          </form>
        </td>
        {{/unless}}
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>
{{>footer}}